logs/archived/
marklogic-explorer-5.2.1.war
marklogic-pipes-*.jar
source/openfunds/data.csv

.gradle/
.DS_Store
.pipes
.tmp
*.jar
*.zip
*.log
*.war

conceptConnectorModels
src/main/ml-modules/root/custom-modules/pipes
src/main/ml-modules/services/vppBackendServices.sjs
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
